global_defs {
        router_id {{ mm_router_id }}
}

vrrp_script chk_mysqld {
    script "/hupu/bin/{{ mm_type }}/chk_mysqld.sh"
    interval 5
    weight 10
}

vrrp_instance {{ mm_router_id }} {
    state BACKUP
    interface {{ mm_interface }}
    virtual_router_id {{ mm_id }}
    priority {{ mm_priority }}
    advert_int 1
    garp_master_delay 1
    nopreempt
    authentication {
        auth_type PASS
        auth_pass {{ mm_auth_pass }}
    }
    virtual_ipaddress {
        {{ mm_vip }}
    }
    track_script {
        chk_mysqld
    }
    notify_master "/hupu/bin/{{ mm_type }}/change.read_only.role.sh write"
    notify_backup "/hupu/bin/{{ mm_type }}/change.read_only.role.sh read"
    notify_fault "/hupu/bin/{{ mm_type }}/change.read_only.role.sh read"
    notify_stop "/hupu/bin/{{ mm_type }}/change.read_only.role.sh read"
}
