#!/bin/bash
# backup for mysql
# by sjh
# last by zh

vars_dir=`dirname $0`
source $vars_dir/pub_vars

logfile="/tmp/full_${date_dir}.log"

backup_full() {
    args="--user=$user --password=$password --socket=$socket  --no-timestamp --defaults-file=$cnf --slave-info"
    innobackupex $args  $backup_dir/$date_dir-full >> $logfile 2>&1;
}

push_backup() {
    backup_piece=`ls $backup_dir |tail -1`
    rsync -a --contimeout=3 --bwlimit=80000 --password-file=$vars_dir/rsync.ps $backup_dir/$backup_piece hupu@192.168.1.42::backup/$hostname$ip_suffix/
} 

repair_link() {
    lsof |grep '/data0/backup-data' |awk '{print $2}' |xargs kill
}

kill_zombie() {
    ps aux |grep 'backup_new.sh' |awk '{print $2}' |xargs kill
}

has_problems() {
    if [[ $1 == PUT ]];then
        curl http://baixs.pub.hupu.com/api/benchs -X$1 -d "{\"ip\": \"{{ inventory_hostname }}\"}" -H "Content-Type:application/json" -ubaixs:hoopchina
        sleep 60
    else
        curl http://baixs.pub.hupu.com/api/benchs -X$1 -d "[{\"ip\": \"{{ inventory_hostname }}\"}]" -H "Content-Type:application/json" -ubaixs:hoopchina
    fi
}

## repair backup directory soft link.
#repair_link

case $1  in
    full)
        if [ $vip == 0 ];then 
            if [[ $destdir -lt $datadirsize || $partition_percent -gt 50 ]]; then    
                cd $backup_dir
                while [ $partition_percent -gt 50 ];do
                    ls |awk '{print $NF}'|head -1 | xargs rm -rf
                    source $vars_dir/pub_vars
                done
                has_problems PUT
                backup_full
            else
                has_problems PUT
                backup_full
            fi
            if   [[ $datadirsize -lt 51200 ]];then
                    echo "backup < 50G , compress"
                    cd $backup_dir
                    tar zcf $date_dir-full.tar.gz $date_dir-full/ && rm -rf $date_dir-full/
            fi        
        else
            echo "vip is alive"
            break
        fi
        ;;
    *)
        echo "please add the parameters!"
        ;;
esac

## enable server monitor.
has_problems DELETE

## backup data sync to remote backup.
push_backup

## kill long time backup process.
#kill_zombie
